@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
    background: rgb(201, 255, 201);
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(81, 255, 81);
    border-radius: 10px;
}